body{
    margin: 0 auto;
    width: 100%;
    font-family: sans-serif;
    font-size: 1.6rem;
}
/* styling for navigation */
.header{
    background-color:rgba(255, 166, 0, 0.717);
    box-shadow: 0 0 5px rgb(88, 55, 55);
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    min-height: 100%;
    z-index: 0;
    top: 0;
    /* float: left; */
}
.header img{
    width: 100%;
    height: 20%;
    object-fit: cover;
}
.header ul{
    font-size: 1.2rem;
    font-weight: bold;
    height: 70%;
    min-height: 150px;
    overflow: auto;
    padding: 0;
}
.header ul li{
    list-style-type: none;
    text-align: right;
    padding: 0;
    cursor: pointer;
    
}

.header ul a{
    border-top: 1px solid rgb(10, 10, 10);
    color: black;
    display: block;
    padding: 6px 15px 7px 0;
    text-align: right;
    text-decoration: none;
}

.header ul a:hover, .header ul a.active{
    background-color: rgba(152, 153, 184, 0.808);
}
.header ul li ul{
    border-top: 0;
    font-size: 1.6rem ;
    min-height: 10px;
    height: auto;
    overflow: auto;
    margin: 0;
    display: none;
}
/* ended styling for navigation  */

/* starting styling for content  */
.content{
    width: 80%;
    /* background-color: aquamarine; */
    height: 500px;
    margin-left: 18%;
}
.title{
    text-align: center;
}
.purpose{
    margin-left: 40px;
    font-size: 1.6rem;
}
.list-unstyled > li::before{
    content: "#";
    font-weight: bold;
    padding-right: 7px;
    margin-left: 40px;
}
.list-unstyled ul li{
    font-size: 1.6rem;
}
/* introduction  */
#introduction{
    margin-left: 40px;
    font-size: 1.6rem;
}
.about{
    text-indent: 20px;
    word-spacing: 2px;
}
.mobile-app{
    width: 100%;
    height: 600px;
    background-color: azure;
}
.image{
    width: 100%;
    height: 100%;
}
.image img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
/* download  */
#download-installation{
    margin-left: 40px;
    font-size: 1.6rem;
}
.download{
    text-indent: 20px;
    word-spacing: 2px;
}
/* register */
#register{
    margin-left: 40px;
}
/* code-resource */
#code-resource{
    margin-left: 40px;
}
.html-code-structure{
    width: 100%;
    height: auto;
    /* background-color: rgb(174, 127, 127); */
}
.html-code-structure code img{
    width:100%;
     height: auto;
}